
<div class="container d-flex justify-content-center mt-5">
        <h1>Veja o vídeo</h1>
    </div>
<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="card" style="width: 650px;">
  <iframe height="400" src=<%= "//www.youtube.com/embed/#{@link}" %> frameborder="0" allowfullscreen></iframe>  
  <div class="card-body">
    <h5 class="card-title">Número da sala: <%= @room.number %></h5>
    <p class="h2">Número de convidados: <%= @all_inviteds %></p>
    <p class="h3">Nome do vídeo: <%= @room.name %></p>
  </div>
</div>    
</div>



